In [2]:
print("Hello World")
print(13)

Hello World
13

RULES FOR NAMING VARIABLES:
Variable names can only contain letters, digits and underscores (_).
A variable name cannot start with a digit.
Variable names are case-sensitive (myVar and myvar are different).
Avoid using Python keywords (e.g., if, else, for) as variable names.

a=10, apple=10,_apple=50 all these are correct 
1apple=92 not correct.

In [13]:
#DATA TYPES IN PYTHON:
a=50 #int
b=5 #float
c='red' #string
d="red" #string
e='''blue''' #string
f=5+3j #complex number
g=True #boolean 
h=False #boolean
i=None #none

j=[1,5,6] #list
k=(1,2,3) #tuple
l={a:1,b:2} #dictionary

In [8]:
type(d) #Type is to find atatype of a variable.

str

In [ ]:
id(b) #id gives the Memory address of the variable.

1434320308976

In [ ]:
#OPERATORS
print(a+b) #or you can also give sum=a+b, addition
print(a-b) #subtraction
print(a*b) #multiplication
print(a/b) #division
print(a**b) #exponent
print(a//b) # float division
print(a%b) #modulus or remainder

55
45
250
10.0
312500000
10
0

In [17]:
#ASSIGNMENT OPERATORS
a=50 #assignment
a+=10
a #this means a=(a+10)
a-=50
a*=50
a/=50
a**=50
a//=50
a%=50

In [ ]:
#RELATIONAL OPERATORS (only gives in true or false)
a=50
b=5

print(a==b) #checks if it is equal to
print(a<b) #less than
print(a>b) #greater than
print(a!=b) #not equal to
print(a<=b) #less than or equal to
print(a>=b) #greater than or equal to

False
False
True
True
False
True

In [ ]:
#LOGICAL OPERATORS
#AND CONDITION:T&T=T, T&F=F, F&F=F, F&T=F 
#OR CONDITION:T&T=T, T&F=T, F&F=F, F&T=T
print((a<b) and (b==a))
print((a<b) or (b==a))
print(not(a<b))

False
False
True

In [ ]:
#BITWISE OPERATORS
print(5&3) #binary and
print(5|3) #binary or, any one can be true
print(~5) #negation or not, we use -(n+1) and it is called 2's compliment.
print(5^3) #binary xor, if both are true it is false
print(5<<1) #left shift, will shift places, ex:0101 it will be 1010
print(5>>1) #right shift, will drop one digit in the right side of the value.  ex:0101, the last 1 will drop so 2.

1
7
-6
6
10
2

In [ ]:
#INPUT FUNCTION
a=int(input("Enter a Value")) #typecasting - datatype conversion; int
b=10

sum=a+b
print(sum) #output function

17

In [16]:
a=float(input("Enter a Value")) #using float
b=10

sum=a+b
print(sum)

18.9

In [13]:
a=str(input("Enter a Value"))
b="Nikhil"

sum=a+b
print(sum)

BRNikhil

In [ ]:
print(a,b)
print("Hello", "World", sep="*") #separating words with symbol

BR Nikhil
Hello*World

In [18]:
print(15,9,2029, sep="-") #date

print("Hello", end="....")
print("World")
print("Her age was", sum, "Her ID was", a)
print(f"Her age was{sum} and Her ID was, {a}") #f string formating

15-9-2029
Hello....World
Her age was 18.9 Her ID was 8.9
Her age was18.9 and Her ID was, 8.9

f-string formatting types: 

variable {x}
expression {x+y}
precision {x:2f}
width {x:8}
alignment {x:^8}
padding {x:*^8}
zero padding {x:05}
percentage {x:2%}
commas {x:,}

In [36]:
print(f"The sum of the numbers is {a+b}") #expression

price=9606.5628
print(f"{price:.2f}") #precision

x=45
print(f"{x:9}") # width, gives spaces and then the value in the 9th place

p="python"
print(f"|{p:<15}|") #left alignment
print(f"|{p:>15}|") #right alignment
print(f"|{p:^15}|") #center alignment

print(f"{45:*<6}") #Padding (left, right and center)
print(f"{45:*>6}")
print(f"{45:*^6}")

print(f"{7:03}") #zero padding
print(f"{125:09}")

value=3.5
print(f"{value:07.2f}") #zero padding + percision

ratio=0.7862
print(f"{ratio:.3%}") #percentage formatting

salary=2259000000
print(f"{salary:,}")  #commas(thousands separator)
print(f"{salary:,.2f}")

The sum of the numbers is 18.9
9606.56
       45
|python         |
|         python|
|    python     |
45****
****45
**45**
007
000000125
0003.50
78.620%
2,259,000,000
2,259,000,000.00