DICTIONARIES: -
THEY ARE ORDERED, CHANGABLE & DOES NOT ALLOW DUPLICATES(IT SHOULD BE UNIQUE)
IT IS STORED IN {} BRACKETS
VALUEs CAN BE OF ANY DATATYPE BUT KEYS SHOULD BE IMMUTABLE DATATYPE.
1KEY CAN APPEAR ONLY ONCE

In [19]:
#DEFINING A DICTIONARY
a={"apple":"red","orange":"orange","banana":"yellow"}
b={1:"apple",2:"Orange",3:"Banana"}
print(a)
print(b)

{'apple': 'red', 'orange': 'orange', 'banana': 'yellow'}
{1: 'apple', 2: 'Orange', 3: 'Banana'}

In [ ]:
#ACCESSING VALUES
print(b[2])
print(b.get(4)) #get method- safe method to access values, if there is no 4 in b it will give as none in the execution
print(b.get(4,"No value found")) #get method with custom message

Orange
None
No value found

In [13]:
#UPDATING VALUES
a["apple"]="Pink" #if it is present it will update or else it will add at the ending
a["grape"]="green"
print(a)

#UPDATING MULTIPLE VALUES
a.update({"apple":"blue","strawberry":"Pink"})
print(a)

{'apple': 'Pink', 'orange': 'orange', 'banana': 'yellow', 'strawberry': 'Pink', 'grape': 'green'}
{'apple': 'blue', 'orange': 'orange', 'banana': 'yellow', 'strawberry': 'Pink', 'grape': 'green'}

In [ ]:
#POP - TO REMOVE A SPECIFIC VALUE
a.pop("grape")
print(a)

{'apple': 'blue', 'orange': 'orange', 'banana': 'yellow', 'strawberry': 'Pink'}

In [ ]:
#POP ITEM - REMOVES THE LAST VALUE
a.popitem()
print(a)

{'apple': 'blue', 'orange': 'orange', 'banana': 'yellow'}

In [ ]:
#CLEAR - CLEARs THE ENTIRE DICTIONARY
a.clear()
print(a)

{}

In [ ]:
#METHODS FOR VIEW:
print(a.keys()) #gives only the keys
print(a.values()) #gives only the values
print(a.items()) #gives both keys & values; each key:value pair is called item

dict_keys(['apple', 'orange', 'banana'])
dict_values(['red', 'orange', 'yellow'])
dict_items([('apple', 'red'), ('orange', 'orange'), ('banana', 'yellow')])

In [ ]:
#COPY (shallow copy)
c=a.copy()
print(c)

{'apple': 'red', 'orange': 'orange', 'banana': 'yellow'}

In [ ]:
#DICT (another way of creating dictionary)
d=dict(a="blue",b="green")
print(d)

e=[1,2,3,4]
f=dict.fromkeys(e,0) #we can only get one values for one key
print(f)

{'a': 'blue', 'b': 'green'}
{1: 0, 2: 0, 3: 0, 4: 0}

In [ ]:
#BUILT-IN FUNCTION FOR DICTIONARIES
print(a)
len(a) #len means- how many key:value pairs it has (apple=key & red =value same as follows for all)

{'apple': 'red', 'orange': 'orange', 'banana': 'yellow'}

3

EXERCISES:
LISTS:-
1. CREATE A LIST, ACCESS FIRST ELEMENT, ACCESS THE LAST ELEMENT, CHANGE OR UPDATE ONE VALUE INBETWEEN THE LIST
2. CREATE A LIST AS NUMS=[1,2,3,4,5,6], ADD 4 AT THE END, INSERT 10 AT POSITION 1, REMOVE THR LAST ELEMENT, REMOVE2
3. NUMS=[3,6,8,10,2,1,0] CREATE A SORTED COPY WITHOUT CHANGING THE ORIGINAL, COPY THE LIST SAFELY INTO ANOTHER VARIABLE

In [84]:
a=[1,2,3,4,5,6]
a.append(7)
print(a)
first=a[0]
last=a[5]
print(first)
print(last)

[1, 2, 3, 4, 5, 6, 7]
1
6

In [54]:
NUMS=[1,2,3,4,5,6]
NUMS.pop()
print(NUMS)

NUMS.insert(0,10)
print(NUMS)

NUMS.insert(6,4)
print(NUMS)

NUMS.pop()
print(NUMS)

NUMS.remove(2)
print(NUMS)

[1, 2, 3, 4, 5]
[10, 1, 2, 3, 4, 5]
[10, 1, 2, 3, 4, 5, 4]
[10, 1, 2, 3, 4, 5]
[10, 1, 3, 4, 5]

In [56]:
NUMS=[3,6,8,10,2,1,0]
B=NUMS.copy()
print(B)
print(NUMS)

[3, 6, 8, 10, 2, 1, 0]
[3, 6, 8, 10, 2, 1, 0]

EXERCISE:
TUPLES:-
1. t=(10,20,40,20), access the second element, count how many times 20 appears
2. t=(5,10) unpack values into a and b
3. t=(1,2,3)
   t[1]=100, explain the error

In [71]:
t=(10,20,40,20)
print(t.count(20))

result=t[1]
print(result)

2
20

In [68]:
t=(5,10)
print(type(t))

a,b=t
print(a)
print(b)

<class 'tuple'>
5
10

In [ ]:
t=(1,2,3)
t[1]=100 #Error because tuples are immutable(unchangable)

TypeError: 'tuple' object does not support item assignment

EXERCISE:-
SETS-
1. nums=[1,2,3,2,4,4,5]
   convert to a set and store unique values
2. a={10,20,30,40,50}
   b={20,40}
   remove all elements of b from a using a set method.
3. Which of the following are valid set elements

1
"abc"
(1,2)
[1,2]

In [78]:
nums=[1,2,3,2,4,4,5]
nums=set(nums)
print(nums)

{1, 2, 3, 4, 5}

In [ ]:
a={10,20,30,40,50}
b={20,40}
print(a-b) #using difference

{50, 10, 30}

3.   1   = yes (integer), 
   "abc" = yes(float/string)
   (1,2) = yes(tuple)
   [1,2] = yes (list are immutable)

EXERCISE: 
DICTIONARIES:-
1. student={"name":"alex","age":22}
access name, safely access city(no error)
2. student={"name":"Alex"}
   add age, update age
3. student={"name":"alex","age":22,"marks":90}
remove age, remove last inerted items
4. dictionary views

student={"name":"alex","age":22}
view keys, view values, view all key-value pairs

5. subjects=["math","science","english"]
   create a dictionary where all subjects start with marks 35

In [29]:
student={"name":"alex","age":22}
print(student["name"])
print(student.get("city"))

alex
None

In [32]:
student={"name":"Alex"}
student["age"]=22
student["age"]=23
print(student)
print(student)

{'name': 'Alex', 'age': 23}
{'name': 'Alex', 'age': 23}

In [28]:
student={"name":"alex","age":22,"marks":90}
print(student.pop("age"))
student.popitem()
print(student)

22
{'name': 'alex'}

In [10]:
student={"name":"alex","age":22}
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age'])
dict_values(['alex', 22])
dict_items([('name', 'alex'), ('age', 22)])

In [1]:
subjects=["math","science","english"]
marks=dict.fromkeys(subjects,35)
print(marks)

{'math': 35, 'science': 35, 'english': 35}

NESTED STRUCTURES:
A NESTED STRUCTURE IS WHEN ON DATA STRUCTURE EXISTS INSIDE ANOTHER

1. LIST INSIDE LIST
2. LIST OF TUPLES
3. LIST OF DICTIONARIES
4. DICTIONARY OF LISTS
5. DICTIOANRY OF TUPLES
6. DICTIONARY INSIDE A DICTIONARY
7. MIXED NESTING
8. SET INSIDE A LIST
9. LIST INSIDE A TUPLE
10. DICTIONARY INSIDE A LIST INSIDE A DICTIONARY (COMMAN API FORMAT)

ACCESSING METHODS:
[] - FOR A LIST/TUPLE
KEY - FOR A DICTIONARY

In [ ]:
#1. LIST INSIDE LIST (also called as Matrix)
a=[
    [1,2,3], #0
    [4,5,6], #1
    [7,8,9], #2
    [10,11,12] #3
]
print(a[2][2])
print(a[1])

9
[4, 5, 6]

In [ ]:
#2. LIST OF TUPLES
b=[
   (1,2,3), #0
   (4,5,6), #1
   (7,8,9) #2
]
print(b[1][2])

6

In [38]:
#3. LIST OF DICTIONARIES
c=[
    {1:"red",2:"blue",3:"orange"},
  {"name":"alex","age":22,"subject":"python"},
  {"name":"sam","age":20,"subject":"sql"}
  ]
print(c[2]["subject"])

sql

In [ ]:
#4. DICTIONARY OF LISTS
d={
    "math":[60,70,80],
    "sql":[60,60,40], #0,1,2 = 60,60,40
    "science":[90,80,70]
   }
print(d["science"])
print(d["sql"][1])

[90, 80, 70]
60

In [42]:
#5. DICTIOANRY OF TUPLES
location={"delhi":(26.76,22,45,28.56),
          "mumbai":(19.0,20.56,56,23.20),
          }
print(location["delhi"])
print(location["mumbai"][2])

(26.76, 22, 45, 28.56)
56

In [43]:
#NESTED DICTI0NARY
company={"emp1":{"name":"Alex", "Salary":50000},
         "emp2":{"name":"Sam", "Salary":60000}
         }
print(company["emp1"]["Salary"])

50000

In [51]:
#7. MIXED NESTING
delta={
    "students":[
                   {"name":"alex", "marks":[80,90]},
                   {"name":"sam", "marks":[70,85]}
                   ]
    }
print(delta["students"][0]["marks"][1])
print(delta["students"][1]["name"])

90
sam

In [61]:
#8. SET INSIDE A LIST (cannot use index to access individual values in set, can only call out whole values)
group=[{1,2},{3,4},{5,6}]
print(group[0])

{1, 2}

In [62]:
#9. LIST INSIDE A TUPLE
data=([1,2],[3,4])
print(data[0][1])

2

In [64]:
#10. DICTIONARY INSIDE A LIST INSIDE A DICTIONARY (COMMAN API FORMAT)
api={"results":[{"id":1, "score":90},
                {"id":2, "score":85}
                ]
    }
print(api["results"][1]["score"])

85

IN A DATASET STRINGS OR TEXT DATA CAN HAVE ERRORS SO WE HAVE CERTAIN METHODS FOR CLEANING & SORTING DATA.

SOME EXAMPLES OF UNCLEAN STRINGS:
"  BANGALORE"
"  BANGAORE  "
"BANGALORE  "
"MALE/FEMALE"
"JOHN@GMAIL.COM"
"2024-01-15"

TO CLEAN & RESHAPE DATA BEFORE ANALYSIS WE USE STRING  METHODS LIKE -
strip()
replace()
split()
join()
find()

In [ ]:
#STRIP()
dept= "   Sales  "
print(dept)
cleaned_dept=dept.strip() #alters string data
print(cleaned_dept)

dept="sales    "
print(dept)
cleaned_dept=dept.lstrip() #removes spaces from left
print(cleaned_dept)
cleaned_dept=dept.rstrip() #removes spaces from right
print(cleaned_dept)

dept="    sales"
print(dept)
cleaned_dept=dept.rstrip() #removes spaces from right
print(cleaned_dept)
cleaned_dept=dept.lstrip() #removes spaces from left
print(cleaned_dept)

price="$400$"
clean_price=price.strip("$") #strip can also remove specific characters 
print(clean_price)

price="$8601$"
print(price.lstrip("$"))
print(price.rstrip("$"))

   Sales
Sales
sales
sales
sales
    sales
    sales
sales
400
8601$
$8601

In [ ]:
#REPLACE()
status="Not Available"
new_status=status.replace("Not Available", "N/A") #can replace text/strings
print(new_status)
print(status.replace(" ",""))

salary="$3,40,000"
print(salary.replace(",","")) #removing commas using replace

number="+91-951238-848"
print(number.replace("+91-","")) 

email="register.45#gmail.com"
print(email.replace("#","@")) #replacing # with @ using replace

N/A
NotAvailable
$340000
951238-848
register.45@gmail.com

In [ ]:
#SPLIT()
full_name="Rahul Sharma" #splitting names using split() by giving space inside the upper inverted commas. 
print(full_name.split(" ")) #It identifies the space in the text/string and the  executes.

email="rahul@gamil.com"
print(email.split("@")) #can also split using characters

date="03-12-2028"
print(date.split("-"))

day,month,year=date.split("-") #can also assign values and split
print(year)
print(month)
print(day)

['Rahul', 'Sharma']
['rahul', 'gamil.com']
['03', '12', '2028']
2028
12
03

In [ ]:
#JOIN()
a=["red","blue","orange"]
b=" ".join(a) #we need to use any delimiter to use join()
print(b)

c="-".join(a)
print(c)

nums=["26","15","2035"] #since we are using string method, the numbers must also be in double inverted commas ("")
date="/".join(nums)
print(date)

red blue orange
red-blue-orange
26/15/2035

In [ ]:
#FIND()
a="data analysis"
print(a.find("analysis")) #find()- finds the index positioning of the assigned value or character(finds index position of space also)
print(a.find(" "))
print(a.find("a"))
print(a.find("z")) #It will give -1 for any character if the the character is not found

first=a.find("a")
print(a.find("a",first+1)) #second occurance of a

5
4
1
-1
3

In [26]:
#EXTRACTING TEXT BETWEEN DELIMITERS
a="abc[Data]/hhsj"
start=a.find("[")
end=a.find("]")
new_a=a[start+1:end]
print(new_a)

Data

In [ ]:
a="real"
print(a.upper()) #converting to uppercase
b="YELLOW"
print(b.lower()) #converting to lower case
c="the united states of america"
print(c.capitalize()) #capitalizing the tarting letter
print(c.title()) #converting to a title
d="   YELLOWS"
print(d.strip().lower()) #stripping and converting to lowercase

price="  $1,25,000"
print(price.strip().replace("$","Rs.").replace(",","")) #stripping and replacing

REAL
yellow
The united states of america
The United States Of America
yellows
Rs.125000

TRUE OR FALSE:-
isaplha
isdigit
isalnum
startswith
endswith

In [35]:
a="tiger"
print(a.isalpha()) #isalpha - to check whether characters within the text are aphabets or not
b="146326"
print(b.isdigit()) #isdigit - to check if it is a number or not
c="1564ajd"
print(c.isalnum()) #isalnum - to check if there are numbers and alphabets present
email="abc.54@gmail.com"
print(email.startswith("abc"))
print(email.endswith("com"))

True
True
True
True
True

In [ ]:
a="good good service"
print(a.count("good")) #count() - how many times it has repeated in the text

2

EXERCISE:

1. TAKE A VARIABLE WITH PHONE NUMBER STORED 
EXTRACT LAST 4 DIGITS FROM THE NUMBER

2. TAKE A STRING, CHECK IF VALUE IS EMPTY STRING THEN PRINT "MISSING"

3. TAKE A STRING "john DOE" PRINT IT IN PROPER FORMAT
   --> OUTPUT: "John Doe"

In [ ]:
PH= "[7878956542]"
start=PH.find("5")
end=PH.find("]")
PHnum=PH[start+1:end]
print(PHnum)

#OR WE CAN DO LIKE THIS ALSO
phone="+91-481562-9686"
country_code,number,last_4=phone.split("-")
print(last_4)

6542
9686

In [42]:
JD="john DOE"
print(JD.title())

John Doe

In [ ]:
ab=""
print(ab.replace("","missing"))

missing

SWAPCASE
CASEFOLD
FORMAT_MAP
ISASCII
ISDECIMAL
ISPRINTABLE
ISSPACE

In [4]:
a="aYbWW"
print(a.swapcase()) #converts lower to upper & upper to lower case

b="wERE"
print(b.casefold()) #casefold is the same as lower() except casefold works on other language characters

c="swaß" 
print(c.casefold())

AyBww
were
swass

In [ ]:
#format_map() is only for dictionaries
data={"name":"arun","age":23}
print("His name was {name} and his age was {age}".format_map(data)) #takes values from the dictionaries and then prints

His name was arun and his age was 23

In [ ]:
#ISASCII - gives true or false
a="Hello"
print(a.isascii())

b="bén" #used French letter e 
print(b.isascii())

True
False

In [ ]:
#ISDECIMAL - checks whether the values are in decimal form or not, & gives true or false
#HERE DECIMAL IS NOT INCLUDING A POINT, INSTEAD IT IS SIMILAR TO DIGIT
a="12.59"
b="59"

print(a.isdecimal())
print(b.isdecimal())

False
True

In [ ]:
#ISSPACE
a=" "
print(a.isspace())

#ISPRINTABLE
a="\n" #\n - means go to next line
print(a.isprintable()) #escape sequence characters cannot be printed

True
False

REGEX - (REGULAR EXPRESSIONS)
A WAY TO SEARCH, EXTRACT, VALIDATE OR REPLACE TEXT USING PATTERNS.

EXAMPLES: -
FIND PHONE NUMBERS
FIND EMIALS
REMOVE SYMBOLS
SPLIT MESSY DATA

PYTHON USES THE RE MODULE FOR THIS.
"import re"

MOST USED FUNCTIONS:-
re.search()
re.findall()
re.sub()
re.split()
re.match()

REGEX SYMBOLS-

PATTERN                         MEANING
\d                              digit
\D                             non-digit
\w                            letter/number
\W                          special character
\s                              space

.                              any character
+                              one or more
*                              zero or more
^                                 start
$                                  end 
[abc]                          any of a/b/c

In [18]:
#re.findall() - Returns all matches
import re
text="Order 123,amount 491"

nums=re.findall(r"\d+",text)
print(nums)

['123', '491']

In [ ]:
re.findall(r"\w+","Data 5Science!") #gives only letters or numbers and exculdes any symbols

['Data', '5Science']

In [27]:
#re.sub - replaces using pattern
phone="+91-98756 54628"
clean_phone=re.sub(r"\D","",phone) #replacing every non-digit with a empty string
print(clean_phone)

text="Hello@#World"
t=re.sub(r"\W"," ",text) #replacing special characters with a space
print(t)

text="DATA     SCIENCE"
t=re.sub(r"\s+"," ",text)
print(t) #replacing with only one space

919875654628
Hello  World
DATA SCIENCE

In [ ]:
#RE.SPLIT() - FOR MULTIPLE DELIMITERS

text="Python,SQL | Excel"
e=re.split(r"[,|]",text)
print(e)

date="21-12/2023"
d=re.split(r"[-/]",date)
print(d)

['Python', 'SQL ', ' Excel']
['21', '12', '2023']

In [34]:
#RE.SEARCH() - CHECKS IF IT EXISTS

text="my id is 265"
result=re.search(r"\d+",text)
print(result)

<re.Match object; span=(9, 12), match='265'>

In [36]:
#RE.MATCH() - TO FIND THE MATCH AT POSITION 1
print(re.match(r"\d","1abc"))
print(re.match(r"\d","abc1"))

<re.Match object; span=(0, 1), match='1'>
None

In [39]:
#EXTRACT EMAIL USERNAME

email="john15@gmail.com"
re.findall(r"^\w+",email) #"^\w"- means start with any word that can be one or more

['john15']

In [ ]:
#VALIDATE PINCODE (MUST BE 6 DIGITS)
code="560098"
c=re.match(r"^\d{6}$",code)
print(c)

d=bool(re.match(r"^\d{6}$",code)) #SINCE WE ARE VALIDATING WE NEED A TRUE OR FALSE RESULT. HENCE BOOL FUNCTION IS USED.
print(d)

e=re.findall(r"^\d{6}$",code)
print(e)

<re.Match object; span=(0, 6), match='560098'>
True
['560098']

Character
Description
Example

[]
A set of characters
"[a-m]"
\
Signals a special sequence (can also be used to escape special characters)
"\d"
.
Any character (except newline character)
"he..o"
^
Starts with
"^hello"
$
Ends with
"planet$"
*
Zero or more occurrences
"he.*o"
+
One or more occurrences
"he.+o"
?
Zero or one occurrences
"he.?o"
{}
Exactly the specified number of occurrences
"he.{2}o"
|
Either or
"falls|stays"